@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  /* Show scrollbar */
  .scrollbar::-webkit-scrollbar {
    display: block;
  }

  .scrollbar {
    -ms-overflow-style: auto;
    /* IE and Edge */
    scrollbar-width: auto;
    /* Firefox */
  }
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

#animation {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  & svg {
    width: 100%;

    .cls-1,
    .cls-2 {
      fill: none;
      stroke: #1F2020;
      opacity: 0.3;
      stroke-miterlimit: 10;
      stroke-width: 2px;
    }

    .cls-3 {
      opacity: 0.3;
    }

    .cls-2 {
      stroke-dasharray: 0 0 12.01 12.01;
    }

    .cls-4 {
      fill: #1F2020;
      stroke-width: 0px;
    }

    &#Layer {

      .cls-1,
      .cls-2 {
        fill: none;
        stroke: #fa9a42;
        stroke-miterlimit: 10;
        stroke-width: 4px;
        will-change: scroll-position;
        will-change: contents;
        will-change: transform;
      }

      .cls-22 {
        will-change: scroll-position;
        will-change: contents;
        will-change: transform;
        will-change: opacity;
      }

      .cls-3 {
        opacity: 1;
      }

      .cls-2 {
        stroke-dasharray: 0 0 12.01 12.01;
      }

      .cls-4 {
        stroke-width: 0px;
      }
    }
  }

  .desktop-arrow {
    & svg {
      position: absolute;
      left: 1%;
      top: 13%;
      width: 100%;
      max-width: 56%;
      object-fit: contain;

      @media (max-width: 768px) {
        margin: 0 1rem;
        padding: 32px 0;
      }
    }
  }
}


.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  &.step>div>h5 {
    transition: 1s ease;
  }

  &.step-show>div>h5 {
    opacity: 1;
    color: '#fa9a42'
  }

}


.page-wrapper {
  padding: 8px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.card-wrapper {
  position: relative;
  overflow: hidden;
}

// .card {
//   width: 200px;
//   height: 200px;
//   background-color: red;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: 24px;
//   color: white;
// }

// .card:nth-of-type(even) {
//   background-color: blue;
// }

// .card:not(:first-child) {
//   position: absolute;
//   top: 100%;
//   left: 0;
// }


.section-bg {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  aspect-ratio: 2/1;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
}

.section-bg:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

h1.fixed {
  position: fixed; /* Keep heading fixed */
  top: 50%; /* Adjust as needed */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center vertically */
  width: 100%;
  text-align: center; /* Center text */
  opacity: 0; /* Start hidden */
}